* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #00bcd4;
$secondary-color: #4a90e2;
$tertiary-color: #7b7b7b;
$background-color: #0d0d0d;
$profile-background: #1b1b1b;
$button-hover-color: #0097a7;

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
}

.each-profile {
  background-color: $profile-background;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 400px;
  animation: fadeIn 0.5s ease-in-out;
  margin-top: 20px;

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    .default-user {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
      border: 3px solid $primary-color;
    }

    input[type="file"] {
      background-color: $primary-color;
      padding: 8px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $button-hover-color;
      }
      &::file-selector-button {
        padding: 8px;
        font-size: 1rem;
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }

    .file-name {
      font-size: 0.9rem;
      color: $tertiary-color;
      margin-top: 5px;
    }

    button {
      background-color: $primary-color;
      color: #fff;
      border: none;
      padding: 8px 20px;
      border-radius: 25px;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 10px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: $primary-color;
  }

  .username,
  .email {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: 500;
  }

  .username {
    color: $secondary-color;
  }

  .email {
    color: $tertiary-color;
  }
}

@media (max-width: 600px) {
  .each-profile {
    padding: 20px;
    width: 90%;
  }

  .image-container {
    width: 100%;
    flex-direction: column;
  }

  .default-user {
    width: 100px;
    height: 100px;
  }

  .title {
    font-size: 1.8rem;
  }

  .username,
  .email {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
