
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #0d0d0d; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.verify-email {
  max-width: 400px;
  width: 100%;
  background-color: #1b1b1b; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }

  p {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 20px;
    color: #fff;
  }

  .verify-email-btn {
    width: 100%;
    padding: 12px;
    background-color: #00bcd4; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 15px;

    &:hover {
      background-color: #0097a7;
      box-shadow: 0 4px 10px rgba(0, 151, 167, 0.3);
    }

    &:disabled {
      background-color: #555;
      cursor: not-allowed;
      box-shadow: none;
    }
  }

  .after-verification {
    margin-top: 20px;

    p {
      font-size: 1.2rem;
      color: #4caf50; 
      font-weight: bold;
    }

    a {
      color: #00bcd4;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      transition: color 0.3s ease;

      &:hover {
        color: #0097a7;
        text-decoration: underline;
      }
    }
  }

  .error-message {
    margin-top: 20px;
    color: #f44336; 
    font-size: 1.2rem;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.verify-email {
  animation: fadeIn 1s ease-in-out;
}
