// Resetting and styling base elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #0d0d0d; // Dark background
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.registration-page {
  max-width: 400px;
  width: 100%;
  background-color: #1b1b1b; // Container background
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;

  

  p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }

  .error{
    color: red;
    font-size: 0.8rem;

  }

  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #2b2b2b; // Input background
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #00bcd4; // Focus border color
      box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
    }
  }

  .register-btn {
    width: 100%;
    padding: 12px;
    background-color: #00bcd4; // Button background
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 15px;

    &:hover {
      background-color: #0097a7;
      box-shadow: 0 4px 10px rgba(0, 151, 167, 0.3);
    }

    &:disabled {
      background-color: #555;
      cursor: not-allowed;
      box-shadow: none;
    }
  }

  .below-btn {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #ccc;

    p {
      display: inline;
      margin-right: 5px;
      font-size: 0.9rem;
    }

    a {
      color: #00bcd4;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.registration-page {
  animation: fadeIn 1s ease-in-out;
}
